# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.wheel

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak

# Dependency directories
__pypackages__/

# Ignore credentials / secrets
*.env
